*{
	margin: 0;
	padding: 0;
}


.img{
    margin-top: -150px;
    margin-right: 100px;
    float: right;

}

.bg-img{
	background: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.bg-green{
	background-color:#4CAF50; /* Green */
	display: 
}
 
.txt-white{
	margin-left: 1200px;
}
.button{

  background-color: #4CAF50; /* Green */
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.li-align{
	display:inline-block; 
}

.word-space{
	word-spacing:50px;
	margin-left:0px;
	text-align: center;
}


.form-marg{
	margin-top: -450px;
	margin-left: 500px;

}

.fnt-size{
	font-size: 30px;
}
