body{
  width:100%;
  text-align:center;
  margin:0 auto;
}
*{
  margin:0;
  padding:0;
}

header{
  background-color:#151515
}

.container{
  max-width: 1200px;
}

#intro {
  background-color:rgb(21,21,21);
  background:url(img/pic6.jpg) no-repeat center bottom;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  background-attachment:fixed;
  width:100%;
  height:100%;
  min-height:720px;
  position:relative;
  text-align:center;
  color:#6e6e6e;
  display:table;
  opacity:0.6;
}

.content h1{
  font-size:4em;
  padding:0;
  color:white;
  text-align:center;
  text-transform:normal;
  font-family: 'Poppins', serif;

}

.content h5{
  font-size:1.5em;
  font-family: '', serif;
  padding:200px 0 0 0;
  color:#cc005f;
  text-align:center;
  text-transform:uppercase;
  font-family: 'Poppins', serif;
}

.content p{
  font-size:1.3em;
  font-family:'Lora', serif;
  padding:20px 0;
  color:white;
  text-align:center;
  text-transform:uppercase;
}


a:visited{
  color:#6e6e6e;
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
}  

.intro-social li {
  display: inline-block;
  margin: 0 25px;
  padding:  0;
}
.intro-social li a, .intro-social li a:visited {
  color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
  color: #cc005f;
}

.button{
  background:transparent;
  border: 3px solid #313131;
  line-height: 4.8rem;
  text-transform:uppercase;
  text-decoration:none;
  padding:10px 20px;
  margin: 0 .3rem 1.2rem 0;
  font-size:1em;
  font-family:'Lora', serif;
}

.button:hover{
  color:#cc005f;
} 

.position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}
.position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
  font-family:'Lora', serif;
  
}
.content .button {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
    height: 6rem;
    line-height: 5.4rem;
    padding: 15px 20px;
    margin-top: .6rem;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family:'Lora', serif;

}

.content .button:hover, .content .button:focus {
  border-color: #cc005f;
}
.content .button::after {
  display: inline-block;
  content: "\f107";
  font-family: fontAwesome;
  font-size: 1.6rem;
  line-height: inherit;
  text-align: center;
  position: relative;
  left: 1.2rem;
}

.content ul {
  background-color:pink;
  background-image:url(../img/logo.jpg);
}

#sur {
  background: #FFFFFF;
  padding-top: 12rem;
  padding-bottom: 15rem;
  text-align:center;
}
#sur .section-intro {
  margin-bottom: 3rem;
  text-align:center;
}

.info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}
.info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: .9rem 0 0 0;
  float: left;
}
.info .lead {
  text-align: left;
  padding-left: 13rem;
}

.sur-content {
  position: relative;
  text-align: center;
  max-width: 850px;
  margin-bottom: 3.6rem;
}
.sur-content h3 {
  font-family: "poppins-bold", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}
.sur-content .list {
  list-style: none;
  margin-left: 0;
  text-align:center;
}
.sur-content .list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: .6rem;
}
.sur-content .list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1rem;
  line-height: 3rem;
}
.sur-content .list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  font-size: 1rem;
  line-height: 1;
}
.sur-content .skill-bars {
  margin-top: 6rem;
}

.button-section {
  text-align: center;
}
.button-section .button {
  width: 250px;
}
.button-section [class*+

="col-"] .button:first-child {
  margin-right: 4rem;
}

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
  font-family: "Poppins-SemiBold", sans-serif;
  color: #313131;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}
h3, .h03, h4, .h04 {
  margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
  font-family: "Poppins-Bold";
  margin-bottom: 1.2rem;
  color:#cc005f;
}
h1, .h01 {
  font-size: 3.1rem;
  line-height: 1.355;
  letter-spacing: -.1rem;
}
@media only screen and (max-width:600px) {
  h1, .h01 {
    font-size: 2.6rem;
    letter-spacing: -.07rem;
  }
}
h2, .h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}
h3, .h03 {
  font-size: 2rem;
  line-height: 1.5;
}
h4, .h04 {
  font-size: 1.7rem;
  line-height: 1.765;
}
h5, .h05 {
  font-size: 1.4rem;
  line-height: 1.714;
  text-transform: uppercase;
  letter-spacing: .15rem;
}
h6, .h06 {
  font-size: 1.3rem;
  line-height: 1.846;
  text-transform: uppercase;
  letter-spacing: .15rem;
}
p img {
  margin: 0;
}
p.lead {
  font-family: "lora-regular", serif;
  font-size: 1.2em;
  line-height: 1.8;
  color: #888888;
  text-align:justify-all;
}

strong, b {
  font-family: "lora-bold", serif;
}

